<PageTitle>@(ShowComponent? "موظف جديد":"قائمة الموظفين")</PageTitle>
<EditForm class="row g-3 needs-validation" Model="@_eServ.item" novalidate hidden="@(ShowComponent==false)"
    OnValidSubmit="AddNewEmp">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="col-md-8">
        <div class="input-group mb-3">
            <span class="input-group-text" id="lablName">اسم الموظف</span>
            <InputText typeof="text" class="form-control" placeholder="مصطفى حسين" @bind-Value="_eServ.item.EmpName"></InputText>
        </div>
        <ValidationMessage For="@(()=>_eServ.item.EmpName)" />
        @* <div class="valid-feedback">
            Looks good!
        </div> *@
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <label class="input-group-text" for="lblCert">المؤهل</label>
            <InputSelect class="form-select" id="lblCert" @bind-Value="@_eServ.item.CertID">
                <option selected>اختيار...</option>
                @foreach (var item in _certService.dataList)
                {
                    <option value="@item.CertID">@item.CertName</option>
                }
            </InputSelect>
        </div>
        <ValidationMessage For="@(()=>_eServ.item.CertID)" />
        @* <div class="valid-feedback">
            Looks good!
        </div> *@
    </div>
    <div class="col-md-10">
        <div class="input-group mb-3">
            <label class="input-group-text" for="lblAddress">العنوان</label>
            <InputText class="form-control" id="lblAddress" @bind-Value="@_eServ.item.Address">
            </InputText>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="lblNationalNo">الرقم القومي</span>
            @* <input type="text" class="form-control" placeholder="27909122300198" aria-label="lblNationalNo" aria-describedby="lblNationalNo" name="NationalNo"> *@
            <InputText class="form-control" placeholder="27909122300198" @bind-Value="_eServ.item.NationalNo"></InputText>
        </div>
        <ValidationMessage For="@(()=>_eServ.item.NationalNo)" />
        @* <div class="invalid-feedback">
            Please choose a username.
        </div> *@
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="lblPhone">رقم التليفون</span>
            @* <input type="text" class="form-control" placeholder="01018945846" aria-label="lblPhone" aria-describedby="lblPhone" name="Phone"> *@
            <InputText class="form-control" placeholder="01018945846" @bind-Value="_eServ.item.Phone"></InputText>
        </div>
        <ValidationMessage For="@(()=>_eServ.item.Phone)" />
        @* <div class="invalid-feedback">
            Please choose a username.
        </div> *@
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <span class="input-group-text" id="lblInsureNo">الرقم التأمين</span>
            @* <input type="text" class="form-control" placeholder="61235645" aria-label="lblInsureNo" aria-describedby="lblInsureNo" value="0" name="InsuranceNo"> *@
            <InputText class="form-control" placeholder="61235645" @bind-Value="_eServ.item.InsuranceNo"></InputText>
        </div>
        <ValidationMessage For="@(()=>_eServ.item.InsuranceNo)" />
        @* <div class="invalid-feedback">
            Please choose a username.
        </div> *@
    </div>
    <div class="col-md-6">
        <TarequComponets.GeneralComp.LimitList ItemList="@InsuranceList" FieldCaption="حالة التأمين" SelectValue="changeStatus"/>
        <ValidationMessage For="@(()=>_eServ.item.InsuranceStatus)" />
        @* <div class="invalid-feedback">
            Please provide a valid city.
        </div> *@
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <span class="input-group-text" id="lblInsureDate">تاريخ التأمين</span>
            @* <input type="date" class="form-control" placeholder="2022-12-31" aria-label="lblInsureDate" aria-describedby="lblInsureDate" value=" " name="InsuranceDate"> *@
            <InputDate  class="form-control" @bind-Value:format="yyyy-mm-dd" @bind-Value="@_eServ.item.InsuranceDate"></InputDate>
        </div>
        <ValidationMessage For="@(()=>_eServ.item.InsuranceDate)" />
        @* <div class="invalid-feedback">
            Please choose a username.
        </div> *@
    </div>
    <div class="col-md-3">
        <div class="input-group mb-3">
            <span class="input-group-text" id="lblInsuranceEndDate">انتهاء التأمين</span>
            @* <input type="date" class="form-control" aria-label="lblInsuranceEndDate" aria-describedby="lblInsuranceEndDate" name="InsuranceEndDate"> *@
            <InputDate class="form-control" @bind-Value="@_eServ.item.InsuranceEndDate"></InputDate>
        </div>
        <div class="invalid-feedback">
            Please choose a username.
        </div>
    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary" type="submit">حفظ</button>
    </div>
</EditForm>